<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define an appender that logs to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logging level to TRACE to capture all messages -->
    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
